{% extends "layout.html" %}
{% block head %}
    {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Play BattleCON online</p>
  </div>

  <hr>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Climb the ladder!</h4>
      <p>Play competitively against players from around the world.</p>

      <h4>Practice against AI!</h4>
      <p>Hone your skills against the computer.</p>
    </div>

    <div class="col-lg-6">
      <h4>Asynchronous play!</h4>
      <p>Play comfortably at your own pace; no longer will you be a slave to schedule.</p>

      <h4>No cost!</h4>
      <p>Don't even have to give me a dime.</p>
    </div>
  </div>
</div>

{% endblock %}
